
    <div class="container">
      <div class="row">
    <div class="col-md-12">

        <h2> {{session.user.userName}} ({{session.user.email}}) History </h2>
        <hr>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th> Login Date/Time </th>
                        <th> Client Information </th>
                    </tr>
                </thead>
                <tbody>
                        <tr> 
                            <td> 2018-11-18T19:17:37.000Z </td>
                            <td> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.102 Safari/537.36
                        </tr>
                        <tr> 
                            <td> 2018-11-19T05:19:05.000Z </td>
                            <td> Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.102 Safari/537.36
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    </div>

